.App {
  background-color: #282c34;
  color: white;
  padding: 10px;
}

.Main {
  background-color: white;
  color: #282c34;
  padding: 10px;

  height: calc(90vh - 40px);
  width: calc(100% - 20px);
}
