.NavMenu {
  background-color: #282c34;
  color: white;
}

.NavList {
  list-style: none;
  margin: 8px;
  display: flex;
  flex-direction: row;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .NavMenu {
    width: 40vw;
    margin: 0;
    position: fixed;
    top: 10vh;
    right: 10px;
  }

  .NavList {
    flex-direction: column;
  }
}
